<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatsPage</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cowboycode.sfo3.digitaloceanspaces.com/vaqGrid/vaqGrid.min.css"></link>
</head>
<body>

    <header>
        <a class="favicon" href="#">
            <img src="./icons/favicon.png" alt="favicon">
        </a>

       <button id="btnToggleNav" class="btnToggleNav">
           <img id="btnToggleNavImg" src="./icons/menu-icon-white.png" alt="toggle">
       </button>
       
        <nav id="menu">
            <ul class="menuList">
                <li>
                    <a href="#" class="nonSelect">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span id="navHome">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#aboutSection">
                        <span id="navAbout">About</span>
                    </a>
                </li>
                <li>
                    <a href="#servicesSection">
                        <span id="navServices">Services</span>
                    </a>
                </li>
                <li>
                    <a href="#productsSection">
                        <span id="navProducts">Products</span>
                    </a>
                </li>
               <li>
                    <a href="#clientsSection">
                        <span id="navClients">Clients</span>
                    </a>
               </li>
               <li>
                    <a href="#" class="nonSelect">
                    </a>
               </li>
               <li>
                    <a href="#" class="nonSelect">
                    </a>
               </li>
               <li>
                    <a href="#" class="nonSelect">
                    </a>
               </li>
               <li>
                    <a href="#" class="nonSelect">
                    </a>
               </li>
            </ul>
        </nav>

       <div class="mainTitleContainer">
           <h1>CatPage</h1>
           <h2>Everything for your best friend</h2>
       </div>
    </header>

    <section id="aboutSection" class="aboutSection">
       <div class="aboutContainer">
            <div class="div-1">
                <img src="./icons/cat-1.png" alt="cat-2">
                <p>Somos proveedores de los mejores accesorios para tu mascota. </p>
            </div>
            <div class="div-2">
                <img src="./icons/play-cat-icon.png" alt="cat-1">
                <p>Desde productos para pelaje hasta juguetes para sus momentos creativos.</p>
            </div>
            <div class="div-3">
                <img src="./icons/plus-five-icon.png" alt="cat-3">
                <p>Contamos con mas de 5 anios de experiencia haciendo feliz a esa mascota que es parte de la familia.</p>
            </div>
       </div>
    </section>
    
    <section id="servicesSection" class="servicesSection">
        <div id="servicesContainer" class="servicesContainer">
            <!--auto-generated-->
        </div>
    </section>
    
    <section id="productsSection" class="productsSection">
        <div id="productsContainer" class="productsContainer">
            <!--auto-generated-->
        </div>
    </section>

    <section id="clientsSection" class="clientsSection">
        <section id="galeryTarget" class="clientsSection">
            <!--To append the galery we need to define the container id as galeryTarget-->
            <!--auto-generated-->
        </section>
    </section>

    
    <footer>
        <div class="info-footer">
            Our goal?, to bring a smile to all pets in the world!, if you want to suggest something and/or detect some error in this webpage, feel free to send us a <b>mail</b>, or contact us through our social media!
        </div>
        <div class="social-media">
           <h3>Social Media</h3>
            <a href="#">
                <img src="./icons/fb-5.png" alt="fb">
            </a>
            <a href="#">
                <img src="./icons/yt-5.png" alt="yt">
            </a>
            <a href="#">
                <img src="./icons/instagram-icon.png" alt="inst">
            </a>
        </div>
    </footer>
 
    <script src="./js/nav.js"></script>
    <script src="./js/scrollDown.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/template.js"></script>

    <script src="./js/vaqGridConfig.js"></script>
    <script src="https://cowboycode.sfo3.digitaloceanspaces.com/vaqGrid/vaqGrid.min.js"></script>
    
</body>
</html>
