/*medias*/
/*
  mobile 0px -> 500px 
  tablet/laptop 501px -> 1000px
  big screen 1001px -> ~px
*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}



.clientsSection{
    /*background: black;*/
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
}.clientsSection > h2{
    font-size:35px;
    color:#fff;
    font-family:"ubuntu";
    text-shadow: 3px 3px 5px black;/*Y 5px X 10px Z 5px black*/
}.clientsSection .gridGaleryClients{
    width:70%;
    min-width:280px;
    max-width:800px;
    height:auto;
    overflow:hidden;
    outline:solid red;
    display:grid;
    justify-content:center;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}.gridGaleryClients .galeryItemContainer{
    margin:10px;
    outline:solid red;
    background-size:cover;
    background-position:center;
    width:250px;
    height:150px;
}.galeryItemContainer .galeryPanel{
    display:none;
}.galeryItemContainer img{
    width:200px;
    height:auto;
}

@media only screen and (min-width:1000px){/*big screen*/
    .clientsSection{
        background:darkblue;
    }
}
@media only screen and (max-width:1000px){/*laptop/tablet*/
    .clientsSection{
        background:gray;
    }
}
@media only screen and (max-width:500px){/*mobile*/
    .clientsSection{
        background:#000;
    }
}
