@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');/*font-family: 'Pangolin', cursive;*/
/*global*/
*{
    margin:0;
    padding:0;
}

/*header*/
header{
    height: 100vh;
    width: 100%;
    background-image: url('../images/header-bg.jpg');
    background-size:cover;
    background-position: top;
}
nav{
    position: fixed;
    right:0;
    top:0px;
    background:#000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
    height: 100vh;
    width: 500px;
    margin-right:-500px;
    transition:all .5s;
}
@media only screen and (max-width:550px){
    nav{
        width: 100%;
    }
}

.btnToggleNav{
    position: fixed;
    height: auto;
    width: auto;
    right:30px;
    top:15px;
    transition: transform .4s;
    z-index:2;
    background:none;
    border:none;
}

.btnToggleNav:active{
    transform:scale(.8);
}

.btnToggleNav:hover{
    cursor:pointer;
}

.btnToggleNav:focus{
    outline: none;
}


.btnToggleNav img{
    height: 45px;
    width: 45px;
}

.menuList{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction:column;
    position:absolute;
    top:calc((100% / 2) - 250px);
}

.menuList li{
    height: 50px;
    width: 100%;
}


.menuList li img{
    height: 25px;
    width: 25px;
    margin-left:35%;
    outline:solid red;
}

.menuList li a{
    font-family: "ubuntu";
    text-decoration:none;
    width:100%;
    box-sizing:border-box;
    height:100%;
    display: flex;
    align-items:center;
    color:gray;
    transition:all 0.7s;
}

.menuList li a span{
    display:inline-block;
    width:100px;
    text-align:start;
    font-size:22px;
}

.menuList li a:hover{
    color:#fff;
}

.menuList li:nth-child(1) a span{
    margin-left:30%;
}

.menuList li:nth-child(2) a span{
    margin-left:38%;
}

.menuList li:nth-child(3) a span{
    margin-left:46%;
}

.menuList li:nth-child(4) a span{
    margin-left:55%;
}

.menuList li:nth-child(5) a span{
    margin-left:64%;
}

/*section 1*/
.section-1{
    width: 100%;
    height: auto;
    background: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.article-1{
    height: auto;
    width: 80%;
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.article-1 div{
  
    width: 200px;
    height: auto;
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border:3px solid #fff;
}

.article-1 div img{
    height: 100px;
    width: 100px;
}
.article-1 div p{
    text-align:center;
    font-size:18px;
    padding:10px;
    color:#fff;
    font-family: 'Pangolin', cursive;
}

.section-2{
    height: 600px;
    width: 100%;
    background-image: url('../images/section-2-bg.png');
    background-position: center;
    background-size: cover;
}

.section-3{
     background: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    
}

.article-3{
    width:75%;
    height: auto;
    color: #fff;
    margin:60px 0px 60px 0px;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    text-align: justify;
    padding:25px;
    border-radius:10px;
    border:3px solid #fff;
    
}

footer{
    height: auto;
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Pangolin', cursive;
    display: flex;
    
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

.info-footer{
    
    width: 60%;
    height: auto;
    margin:50px 0px 50px 0px;
    font-size:20px;
    text-align: justify;
}

.social-media{
 
    width: auto;
    height: auto;
    margin:50px 0px 50px 0px;
    font-size:18px;
   
    border-radius:10px;
    border:3px solid #fff;
    padding:10px;
}

.social-media h2{
    
    text-align: center;
    
}

.social-media img{
    height: 70px;
    width: 70px;
    margin:0px 8px 0px 8px;
}
